/*------------------------------------------*\
    Icons
\*------------------------------------------*/
@include font-face('icomoon', 'icomoon');
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-envelope:before {
  content: "\e609";
}
.icon-next:before {
  content: "\e608";
}
.icon-linkedin:before {
  content: "\e607";
}
.icon-file:before {
  content: "\e615";
}
.icon-bubble:before {
  content: "\e600";
}
.icon-heart:before {
  content: "\e601";
}
.icon-googleplus:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e605";
}
.icon-twitter:before {
  content: "\e606";
}
.icon-pencil:before {
  content: "\e604";
}
.icon-quotes-left:before {
  content: "\e60a";
}
.icon-arrow-right:before {
  content: "\e602";
}
.icon-arrow-left:before {
  content: "\e60b";
}
