/*------------------------------------------*\
    Buttons
\*------------------------------------------*/

.pricing-btns {
  @media screen and (max-width: 875px) {
    margin: 2em auto;
    width: 80%;
  }
}

.box-btn {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  background: rgba(0, 0, 0, .2);
  @include border-radius(3px);
  padding: 2em 1em;
  text-align: center;
  margin: 1.5em 0;

  @media screen and (max-width: 875px) {
    display: block;
    padding: 1em;
    width: 100%;
  }

  &:first-child {
    margin-right: 5%;
  }

  &:hover {
    opacity: .85;
  }

  h3 {
    padding-bottom: .625em;
  }

  span {
    @include font-size(13);
    font-weight: 300;
  }
}

.btn {
  display:block;
  background: $buttonColor;
  color: #fff;
  text-align: center;
  width: 80%;
  padding: .625em;
  margin: 0 auto;
  border-bottom: 5px solid darken($buttonColor, 10%);
  border-top: 1px solid transparent;
  @include border-radius(5px);
  @include font-size(18);
  font-weight: bold;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  font-weight: 300;

  &:hover {
    background: darken($buttonColor, 5%);
    border-bottom: 5px solid darken($buttonColor, 10%);
    border-top: 1px solid darken($buttonColor, 10%);
    border-right: 1px solid darken($buttonColor, 10%);
    border-left: 1px solid darken($buttonColor, 10%);
    margin: -1px auto 0 auto;
  }
}