/*------------------------------------------*\
    Footer
\*------------------------------------------*/

.wrapper-footer {
  background: rgba(0, 0, 0, .3);
  padding: 1.25em;
  width: 80%;
  margin: 2em auto 4em;

  figure {
    width: 227px;
    height: 297px;
  }

  .complementary-text {
    width: 60%;
    margin-left: 4em;

    h3 {
      text-align: center;
      padding: 1em 0;
    }

    .small {
      text-align: center;
      padding-top: .5em;
    }
  }
}

.sub-footer {
  background: rgba(0, 0, 0, .3);
  color: #fff;
  text-align: center;
  @include font-size(15);
  padding: 2em 0;
}