/*------------------------------------------*\
    Sections-descriptions-author-reviews
\*------------------------------------------*/

.descriptions {
  background-color: $primary;
  font-family: $font;
}

.author {
  figure {
    text-align: center;
    margin: 4em 0;
    width: 100%;

    img {
      border: 1px solid #ccc;
      padding: .5em;
      @include border-radius(3px);
      width: 400px;
      height: 500px;

      @media screen and (max-width: 650px) {
      width: 300px;
      height: 375px;
     }
    }
  }

  h3, p {
    text-align: center;
    padding-bottom: 2em;
  }

  p {
    font-weight: 300;
  }

}

.reviews {
   background-color: $primary;

   .reviews-quote {
    position: relative;
    right: .5em;
    top: 0;
    @include font-size(40);
    line-height: 70px;
    color: #ccc;
   }

   p {
    padding-left: 2em;
    font-weight: 300;
   }

   a {
    font-weight: 300;
   }

   .info-user {
    text-align: center;
    color: #428bca;
    @include font-size(16);
    margin-top: .5em;

    a:hover {
      text-decoration: underline;
    }
   }


}